.galleries-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.galleries-toggler-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.galleries-toggler-container li {
  list-style: none;
}

.galleries-toggler-container button {
  color: white;
  background-color: transparent;
  border: none;
  margin: 0 0.5rem;
}

.galleries-toggler-container button:focus {
  outline: none;
  border: none;
}

.selected {
  border-bottom: 1px solid pink!important;
  transition: border-bottom 1s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .galleries-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 760px) {
  .galleries-container {
    grid-template-columns: 1fr;
  }
}