.home-container {
  position: relative;
}

.hero-banner-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 45vh 36px;
}

.hero-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 36px black;
  min-width: 280px;
  max-width: 400px;
}

.hero-banner-container h1 {
  text-align: center;
}

.hero-banner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.homepage-footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.homepage-footer ul {
  padding: none;
}

.homepage-footer li {
  list-style: none;
}