.gallery-thumb {
  position: relative;
  height: 300px;
  width: 100%;
}

.gallery-thumb h1 {
  font-size: 2rem;
  color: white;
}

.thumb-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}