.navbar-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 99999;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.562), transparent);
  padding: 1rem 2rem;
}

.navbar-container h2 {
  color: white;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
}

.navbar-menu li {
  list-style: none;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh!important;
  background-color: black;
  z-index: 9999;
}

.mobile-menu-list {
  margin-top: 3rem;
}

.mobile-menu-container ul {
  padding: 0;
  text-align: center;
}

.mobile-menu-container li {
  list-style: none;
  padding: 0.5rem 1rem;
}

.close-menu-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nav-item {
  margin: 0 2rem;
}

.nav-item a {
  color: white;
}

.nav-item-active {
  border-bottom: 1px solid pink;
}

@media only screen and (max-width: 760px) {
  .navbar-container {
    padding: 1rem;
  }
}