.gallery-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-photo:hover {
  cursor: pointer;
  opacity: 0.2;
  background: black;
}

.gallery-photo-container {
  position: relative;
}